.text-header{
    margin-bottom: 50px;

}
.text-header>h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Sono';
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    letter-spacing: .15em;
    font-size: 80px;
    margin-right: 200px;
    border-bottom:  1px solid var(--gray-100, #e4e7e9);
}

.text-welcome {
    text-transform: uppercase;
    margin-left: 320px;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #6fc5ff 67%,
            #06c 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100px;
    margin-bottom: 50px;
}

.pagination{
    margin-left: 1200px;
}

.shop-card {
    margin-left: 420px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid var(--gray-100, #e4e7e9);
    background: var(--gray-00, #fff);
  
    // Card header
    .card-header {
      padding: 20px 24px;
      gap: 10px;
  
      .cart-heading {
        color: var(--gray-900, #191c1f);
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.33;
        user-select: none;
      }
    }
  
    //   Card content ==========
    //   Card names
    .card-names {
      width: 100%;
      display: flex;
      padding: 10px 24px;
      align-items: center;
      border: 1px solid var(--gray-100, #e4e7e9);
      border-left: none;
      border-right: none;
      background: var(--gray-50, #f2f4f5);
      justify-content: flex-end;
  
  
      .card-title {
        color: var(--gray-700, #475156);
  
        /* Label/04 */
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.8;
        text-transform: uppercase;
        user-select: none;
      }
  
      .card-product {
        width: 50%;
        margin-right: 20px;
      }
  
      .card-genre{
        width: 10%;
        margin-right: 75px;
      }
  
      .card-author {
        width: 10%;
        margin-right: 50px;
      }
  
      .card-price {
        width: 10%;
        margin-right: 15px;
      }
  
      
    }
  
    //   List card
    .list-card {
      width: 100%;
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
}