.list-box {
    width: 270px;
    color: white;
}


.card-item {
    position: relative;
    width: 100%;
    
    .play-btn {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #0066CC;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        user-select: none;
    }

    .play.playing {
        display: block;
    }

    .pause.playing {
        display: block;
    }


    .box-img {
        display: block;
        width: 300px;
        height: 230px;
        object-fit: cover;
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
        outline: 3px solid white;
    }
    &:hover {
        transform: scale(1.05);
        transition: all 0.5s ease;
    }


    &:hover .play-btn {
        // display: block;
    }
}



.content {
    padding-top: 10px;
    background-color: #000000c9;
    padding: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    border-radius: 0 0 10px 10px;

}

.content-left {
    width: 70%;

    .name-beat {
        margin-top: 0;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .like {
        margin-left: 5px;
    }

    .check{
        padding-left: 5px;
    }

    .rating{
        padding-left: 5px;
    }
}

.content-right {
    display: inline-flex;
    flex-direction: column;
    row-gap: 5px;
}

.number-sell {
    margin-left: 0px;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    .box {
        width: 70%;
        height: 10px;
        
    }

    .number {}

}

.list-box {
    box-shadow: 0 5px 5px 0;
}

.video {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.name-beat:hover {
    color: #0066CC;
}

.type-beat:hover {
    color: #0066CC;
}
.type-beat{
    font-size: 2rem;
}
.shop{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 20px;
    border-radius: 100px;
}

.follow{
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 20px;
    border-radius: 100px;
}

.icon {
    display: none;
    user-select: none;
}

.icon-pause.play {
    display: block;
}

.icon-play.play {
    display: block;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.audio{
    width: 280px;
    margin-left: 7px;
}